.buildpath
.project
.settings/
vendor
build
package-lock.json
node_modules
bower_components
coverage
assets/dist/*
assets/css/editor.min.css
assets/css/editor.css
assets/css/animate.min.css
assets/css/bundle.min.css
assets/css/buttons.min.css
assets/css/mce-fe.*
assets/css/components.*
assets/css/editor-fe.*
assets/css/font-awesome.min.css
