.buildpath
.project
.settings/
vendor
build
package-lock.json
node_modules
bower_components
coverage
dist/*
assets/css/editor.min.css
assets/css/editor.css
assets/css/components.css
assets/css/components.min.css