:root {
	--COLOR-1: var(--color-1);
	--COLOR-1-RAW: var(--color-1-raw);
	--COLOR-2: var(--color-2);
	--COLOR-2-RAW: var(--color-2-raw);
	--COLOR-3: var(--color-3);
	--COLOR-3-RAW: var(--color-3-raw);
	--COLOR-4: var(--color-4);
	--COLOR-4-RAW: var(--color-4-raw);
	--COLOR-5: var(--color-5);
	--COLOR-5-RAW: var(--color-5-raw);
	--COLOR-NEUTRAL: var(--color-6);
	--COLOR-NEUTRAL-RAW: var(--color-6-raw);
}