.editor-panel[data-type='add'] {
	h3 {
		margin-left: 10px;
		margin-bottom: 10px;
		color: #7b7b7b;
		font-weight: normal;
	}

	hr {
		width: 50%;
		margin-left: 10px;
		height: 2px;
		background: #eeeeee;
		color: transparent;
		border: 0;
	}

	.bg-component-list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 auto;
		align-items: center;
	}

	.component-icon,
	.component-icon .dashicons,
	.component-icon svg {
		width: 55px;
		height: 55px;
	}

	.component-icon {
		.dashicons,
		svg {
			fill: #333333;
			margin-top: 2px;
		}
	}

	label {
		margin: 10px;
		padding: 10px;
		width: 117px;
		height: 74px;
		box-shadow: 0 0 1px 1px #dddddd;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		transition: box-shadow 0.5s;
		background-color: #fcfcfc;
		border-radius: 2px;

		&:hover {
			box-shadow: 0 0 10px 1px #dddddd;

			.component-icon,
			.component-icon svg,
			.component-icon path {
				color: #f95b26;
				fill: #f95b26;
			}
		}

		.component-name {
			margin-top: -5px;
			vertical-align: middle;
		}

		.component-icon {
			margin-top: 2px;
		}
	}

	.component-icon .dashicons {
		font-size: 36px;
		transform: translateY(2px);
	}

	[data-name='block'] .component-icon svg {
		transform: scale(1.4);
	}

	[data-name='button'] .component-icon svg {
		transform: scale(0.8);
	}
}
