.resize-handle {
	z-index: 99998;
	position: fixed;
	cursor: ns-resize;
	background-color: $menu-color;
	border-radius: 3px 3px 0 0;
	color: white;
	font-size: 17px;

	.size {
		font-size: 12px;
		padding-right: 7px;
		font-family: Open Sans, sans-serif;
	}

	&.top {
		border-radius: 0 0 3px 3px;
	}
}

.draghandle {
	font: normal normal normal 14px/1 FontAwesome;
	text-align: center;
	font-size: 12px;
	padding: 0 6px 0 10px;

	&::before {
		content: "\f07d";
	}
}

.drag-progress .draghandle {
	display: none !important;
}

.changing-padding-bottom #boldgrid-draggable-resizing-overlay,
.changing-padding-top #boldgrid-draggable-resizing-overlay {
	cursor: ns-resize !important;
}
